.inputWrapper {
    padding: 5px 0;
}

.inputWrapper:first-child {
    padding: 20px 0 5px 0;
}

.inputWrapper:last-child {
    padding: 10px 0 20px 0;
}

.wrapper {
    padding-top: 20px;
}

.content {
    padding: 20px;
}

.topSection {
    border-bottom: 1px solid grey;
    padding: 20px;
}

.dataGridTable {
    width: 100%;
    font-family: Roboto,Arial;
    border: 1px solid #D7D6D6;
    font-size: 14px;
}
.dataGridTable a {
    color: #E93591;
    text-decoration: none;
}
.dataGridTable a:hover {
    text-decoration: underline;
}
.dataGridTable tr td, .dataGridTable tr, th {
    padding: .75rem;
}
.dataGridTable tr td {
    padding: .25rem;
}
.dataGridTable tr {
    background: #FFFFFF;
    cursor: pointer;
    border-bottom: 1px solid #D7D6D6;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}
.dataGridTable tbody tr:nth-child(2) {
    background: #FDFDFD;
}
.dataGridTable tbody tr.checked {
    background: #FFFBEF !important;
}
.dataGridTable tbody tr.selected {
    background: #FFFFCC !important;
}
.dataGridTable tbody tr.checked {
    background: #FFFCEB;
}
.dataGridTable tbody tr:hover {
    background: #F7F7F7;
}
.dataGridTable thead,
.dataGridTable thead tr,
.dataGridTable thead tr td {
    background: #F9F9F9;
    color: #595959;
    font-weight: bold;
}
.borderRight {
    background: rgb(249, 249, 249);
}