.contextMenu {
    float: right;
}

.contextMenu .icon {
    background: url('./images/settings.png');
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.contextMenu .menu {
    width: 200px;
}

.refresh {
    width: 23px;
    height: 23px;
    margin: 0 auto 0 10px;
    cursor: pointer;
    background: url('./images/refresh.png') no-repeat center center;
    background-size: contain;
    float: right;
}
