.grid {
    overflow-y: auto;
}

.actionBarWrap {
    border: 1px solid #d7d7d7;
    overflow: hidden;
    position: static !important;
}

.rulesNomenclatures {
    float: left;
    padding: 50px;
}

.contentTableWrap {
    padding: 0px;
}

.tableWrap {
    max-height: calc(100% - 59px - 40px - 71px - 55px - 30px); /* 100% - header - tab - title bar - pagination*/
    position: absolute;
    overflow-y: auto;
    margin: 0 !important;
    padding: 10px 20px;
}

.actionWrap {
    display: flex;
    justify-content: flex-end;
    width: 100%;
 }

 .actionWrap button {
    margin-left: 10px;
 }

 .buttonLarge {
    min-width: 150px;
}

.buttonToggle {
    background-color: #4498f9 !important;
    border-color: #4498f9 !important;
    color: #fff;
}