body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: #F2F2F2;
    font-size: 14px;
    line-height: 14px;
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    color: #000000;
}