.grid {
    overflow-y: auto;
}

.actionBarWrap {
    border: 1px solid #d7d7d7;
}

.rulesNomenclatures {
    float: left;
    padding: 50px;
}

.deleteButton {
    margin-left: 15px;
}

.header {
    background-color: white;
}

.gridToolBoxButtons {
    float: right;
}

.tableWrap {
    margin-top: 70px !important;
}

.pageWrap {
    height: 100%;
    overflow: hidden;
}

.paginationWrap {
    width: 100%;
    position: absolute;
    bottom: 34px;
    padding: 0 40px 0 20px;
}

.wrapperMaxWidth {
    width: 100%;
}

.filterSeparated{
    margin-right: 20px;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    min-width: 135px;
    white-space: nowrap;
}
.multiFilterSeparated{
    margin-right: 20px;
    flex-shrink: 1;
    flex-grow: 3;
    flex-basis: auto;
    min-width: 135px;
    white-space: nowrap;
}

.clearFilterSeparated{
    margin-right: 20px;
    margin-left: 20px;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    min-width: 135px;
    white-space: nowrap;
}

.filterWrap, .buttonWrap {
    display: flex;
    width: auto;
    justify-content: flex-end;
}