.grid {
    overflow-y: auto;
}

.actionBarWrap {
    border: 1px solid #d7d7d7;
    overflow: hidden
}

.rulesNomenclatures {
    float: left;
    padding: 50px;
}

.deleteButton {
    margin-left: 15px;
}

.header {
    background-color: white;
}

.gridToolBoxButtons {
    float: right;
}

.tableWrap {
    /* margin-top: 70px !important; */
    top: 0!important;
}

.pageWrap {
    height: 100%;
    overflow: hidden;
}

.paginationWrap {
    width: 100%;
    position: absolute;
    bottom: 34px;
    padding: 0 40px 0 20px;
}