.grid {
    overflow-y: auto;
}

.actionBarWrap {
    border: 1px solid #d7d7d7;
    overflow: hidden;
    position: static !important;
}

.rulesNomenclatures {
    float: left;
    padding: 50px;
}

.paginationWrap {
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 0 40px 0 20px;
}

.contentTableWrap {
    padding: 0px;
}


.actionBarWrap > div, .actionBarWrap > div > div {
    width: 100%;
}

.actionWrap {
    display: flex;
    justify-content: flex-end;
 }

 .actionWrap button {
    margin-left: 10px;
 }
 