.grid {
    overflow-y: auto;
}

.actionBarWrap {
    border: 1px solid #d7d7d7;
    overflow: hidden;
    top: 170px;
}

.actionBarWrap > div > div {
    width: 100%;
}

.rulesNomenclatures {
    float: left;
    padding: 50px;
}

.deleteButton {
    margin-left: 15px;
}

.header {
    background-color: white;
    margin-top: -60px;
}

.gridToolBoxButtons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.tableWrap {
    margin-top: 70px !important;
}

.pageWrap {
    height: 100%;
    overflow: hidden;
}

.paginationWrap {
    width: 100%;
    position: absolute;
    bottom: 34px;
    padding: 0 40px 0 20px;
}