.titleWrap {
    text-align: center;
}

.headerWrap {
    text-align: center;
    padding: 15px 0 5px 0;
}

.mainContent {
    width: 95%;
    margin: 15px auto;
    margin-bottom: 0px;
}

.actionDialogButton {
    margin-right: 5px;
}

 /*use this when styling custom dialogs*/
.actionButtons {
    background-color: #F5F5F5;
}

.closeBtn {
    display: none;
}
