.contentBox {
    display: flex;
}

.contentBoxExternal {
    padding: 20px;
}

.input {
    padding: 20px 0;
}

.inputWrapper {
    padding: 10px 0;
    border-bottom: 1px solid #E2E1E1;
}

.limitContentBoxWrapper {
    width: 100% !important;
}
.contentBoxWrapper {
    width: 80%;
    margin: 0 20px;
}

.inputWrapper:first-child {
    padding: 20px 0 10px 0;
}

.inputWrapper:last-child {
    padding: 10px 0 10px 0;
}

.wrapper {
    padding-top: 20px;
}

.content {
    padding: 20px;
}

.topSection {
    border-bottom: 1px solid grey;
    padding: 20px;
}

.dataGridTable {
    width: 100%;
    font-family: Roboto,Arial;
    border: 1px solid #D7D6D6;
    font-size: 14px;
}
.dataGridTable a {
    color: #E93591;
    text-decoration: none;
}
.dataGridTable a:hover {
    text-decoration: underline;
}
.dataGridTable tr td, .dataGridTable tr th {
    padding: 10px;
}
.dataGridTable tr td:last-child.deleteCol, .dataGridTable tr th:last-child.deleteCol {
    padding: 0px;
    text-align: center;
    width: 23px;
}
.dataGridTable tr th {
    text-align: left;
}
.dataGridTable tr {
    background: #FFFFFF;
    cursor: pointer;
    border-bottom: 1px solid #D7D6D6;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}
.dataGridTable tbody tr:nth-child(2) {
    background: #FDFDFD;
}
.dataGridTable tbody tr.checked {
    background: #FFFBEF !important;
}
.dataGridTable tbody tr.selected {
    background: #FFFFCC !important;
}
.dataGridTable tbody tr.checked {
    background: #FFFCEB;
}
.dataGridTable tbody tr:hover {
    background: #F7F7F7;
}
.dataGridTable thead,
.dataGridTable thead tr,
.dataGridTable thead tr td {
    background: #F9F9F9;
    color: #595959;
    font-weight: bold;
}
.borderRight {
    background: rgb(249, 249, 249);
}

.outerWrap {
    width: 100%;
    display: table;
    font-size: 14px;
    color: #595959;
}
.outerWrap .labelWrap {
    width: 25%;
    display: table-cell;
    font-weight: bold;
    vertical-align: middle;
}
.outerWrap .inputWrap {
    width: 70%;
    display: table-cell;
    vertical-align: middle;
}
.lableWrap{
    padding: 5px 0 0 0;
}
.errorWrap {
    height: 23px;
    overflow: hidden;
    font-size: 12px;
    -webkit-transition: all 0.6s; /* Safari */
    transition: all 0.6s;
}
.errorWrap .errorMessage {
    color: #ff3333;
    margin: 5px 0 0;
}

.link {
    padding-top: 10px;
    color: #4096FD !important;
    display: block;
    text-decoration: none;
    cursor: pointer;
}
.link:hover {
    text-decoration: underline;
}

.link > span {
    border: 1px solid #4096FD;
    padding: 0 5px;
    margin-right: 10px;
}

.title {
    padding: 15px 25px;
    border-bottom: 1px solid #FAFAFA;
    background-color: white;
    border: none;
}

.body {
   border-top: 1px solid #DCDBDB;
   background: #F5F5F5;
}


.dropdownWrap {
    width: 100%;
    position: relative;
    border: 1px solid #D6D6D6;
}

.dropdownWrap div {
    padding: 0 !important;
    margin: 0 !important;
    line-height: 30px !important;
    border: none !important;
    color: #595959 !important;
    text-align: left !important;
}

div.dropDownRoot {
    width: 100% !important;
    height: 28px !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 10px !important;
    padding-right: 1px !important;
    background-color: white;
}

.contentStyle {
    min-width: '730px';
    max-width: '50%';
}

.save {
    margin-right: 10px;
}

.plus {
    margin-right: 10px;
    background-image: url('./assets/add_new.png');
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    display: inline-block;
}

.statusActionButtonDisabled,
.statusActionButton{
    border: 1px solid #ccc;
    background: deepskyblue;
    border-radius: 2px;
    padding: 4px 15px;
    width: 100%;
    color: white;
}

.statusActionButtonDisabled{
    color: #ccc;
}

.splitInput {
    padding: 15px 10px;
}

.border {
    border: 1px solid #e6e6e6;
}

.splitMinWidth {
  min-width: 70px;
}

.deleteButton {
    margin-right: 20px;
}

.deleteIcon {
  background-image: url('./assets/delete.png');
  width: 13px;
  height: 16px;
  /* padding: 0 10px; */
  background-repeat: no-repeat;
}

.propertyTable {
  padding: 20px 0;
}

.cumulative {
  padding-top: 15px;
  padding-bottom: 15px;
}

.inputWrapper:last-child {
   border-bottom: none;
}
.cumulativeWrapper, .rangeWrapper {
    margin-top: 20px;
}

.rangeInnerWrapper {
    margin: 20px 0;
}

.contentPadding {
    padding-bottom: 20px !important;
}

.splitWrapper {
    margin: 10px 20px 20px 20px;
    padding: 20px 0;
    border: 1px solid #cccccc;
    background-color: white;
}

.linkPlus {
    padding-top: 0px;
    color: #4096FD !important;
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding-left: 20px;
}

.splitHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.label {
    padding-left: 22px;
    font-weight: 700;
    color: #979090;
}

.currency {
    width: 130px;
}

.dropDownWrapper {
    padding: 10px 0;
    border-bottom: 1px solid #E2E1E1;
    margin-bottom: 15px;
}

.deleteCumulative {
    margin-bottom: 10px;
    float: right;
    margin-right: 0;
}

.cumulativeContainer {
    padding: 10px 0 !important;
}

.cumulativeContainer + .cumulativeContainer {
    border-top: 1px solid #d6d6d6;
}
.rangeRow > td {
    padding: 0 10px !important;
}
.innerContentBoxWrapper + .innerContentBoxWrapper {
    margin-top: 20px;
}